// header

.header {
  background-color: $text-color;
  padding: 0.5em;
  height: auto;
}

.logoHeader {
  height: 10em;
}

.logoHeader:hover {
  height: 10.5em;
}

.logo {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
}

.bi-person-circle:hover {
  cursor: pointer;
}

i {
  color: $light-color;
  margin: 0.2em;
  font-size: x-large;
}

.iconI {
  position: absolute;
  top: 5px;
  left: 5px;
}

.iconU {
  position: absolute;
  top: 5px;
  right: 5px;
}

.iconFB {
  position: absolute;
  top: 40px;
  left: 5px;
}

.bienvenue span {
  font-family: $font-titleh2;
  color: $light-color;
  font-size: larger;
  margin-right: 1em;
}

.bienvenue a {
  text-decoration: none;
  color: $text-color;
}

.bienvenue a:hover {
  color: $light-color;
}

.bienvenue button {
  font-family: $font-titleh2;
  border: $light-color solid 2px;
  color: $text-color;
  background-color: $lightorange-color;
  margin-right: 1em;
}

.bienvenue button:hover {
  color: $light-color;
}

// Navigation

.menu-container {
  position: relative;
}

.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.itemMenu a {
  text-decoration: none;
  color: $text-color;
  font-size: x-large;
  font-family: $font-titleh2;
}

@include mobile {
  .burger {
    display: block;
    color: $light-color;
    justify-self: end;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: $text-color;

    top: 3rem;
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .menu.open {
    display: flex;
  }

  .itemMenu {
    margin: 0.5rem 0;
  }
}

.menu .itemMenu a {
  text-decoration: none;
  color: $light-color;
}

.menu .itemMenu a:hover {
  color: $lightorange-color;
}

// Footer

.footer {
  background-color: $dark-color;
  padding: 0.1em;
  height: auto;
  margin-top: 0;
}

.pFooter {
  color: $light-color;
  font-family: $font-main;
}

.footerCol1 i {
  color: $light-color;
}

.footerCol1 p {
  @include mobile {
    display: none;
  }
}

.footerCol1 p,
.footerCol1 i {
  text-align: center;
  font-size: x-large;
  @include tablette {
    font-size: larger;
  }
}

.footerCol2 p {
  text-align: end;
  margin-bottom: 0;
  @include mobile {
    display: none;
  }
}

.footerCol4 p {
  margin-bottom: 0;
  @include mobile {
    font-size: smaller;
    text-align: center;
  }
}

.footerCol3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFooter {
  width: auto;
  height: 135px;
}

.pFooter a {
  text-decoration: none;
  color: $light-color;
}

.pFooter a:hover {
  color: $darkorange-color;
}

.footerCol5 {
  @include mobile {
    visibility: hidden;
  }
}

.footerCol5 p {
  font-size: x-large;
  text-align: center;
  @include mobile {
    display: none;
  }
  @include tablette {
    font-size: larger;
  }
}

.footerCol5,
.footerCol1,
.footerCol2,
.footerCol4 {
  align-content: center;
}

.copyright {
  color: $light-color;
  font-size: x-small;
  text-align: center;
}

// Pâtisserie de la semaine

.patSemaine {
  @extend %component-div-style;
  justify-content: center;
  align-items: center;
  padding: 3em;
  padding-top: 0;
  gap: 3em;
  @include mobile {
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
    padding-bottom: 1em;
  }
  @include tablette {
    flex-wrap: wrap;
  }
}

.imagePatSemaineDiv {
  @include tablette {
    width: 15em;
    height: 12em;
  }

  @include desktop {
    width: 25em;
    height: 15em;
  }

  width: 15em;
  height: 12em;
  border: solid 3px $text-color;
  border-radius: 10px;
}

.imagePatisserieSemaine {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titrePatSemaine {
  color: $text-color;
  text-align: center;
  font-size: x-large;
  @include desktop {
    font-size: xx-large;
  }
  @include mobile {
    font-size: large;
    margin-bottom: 0;
  }
  font-weight: 700;
  font-family: $font-titleh2;
}

.cadrePat {
  border: dashed 3px $dark-color;
  border-radius: 12px;
  padding: 1em;
  @include mobile {
    width: 100%;
    padding: 0.2em;
  }
}

.cadrePat:hover {
  border: dashed 3px $logo-color;
}

.videoExtrait {
  width: 30%;
  @include tablette {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  @include mobile {
    width: 90%;
  }
}

.videoExtrait video {
  width: 25em;
  height: auto;
  display: block;
  object-fit: cover;
  @include mobile {
    width: 17em;
  }
}

.videoExtrait iframe {
  width: 20em;
  height: 13em;
  @include mobile {
    width: 17em;
    height: auto;
  }
  @include tablette {
    width: 100%;
  }
}

.titreFilm {
  display: inline-block;
  margin: 0;
  font-size: xx-large;
  text-align: end;
  font-style: italic;
  color: $text-color;
  @include tablette {
    display: inline-block;
    font-size: x-large;
  }
  @include mobile {
    font-size: large;
    text-align: center;
  }
}

.realFilm {
  color: $dark-color;
  font-size: large;

  @include tablette {
    display: inline-block;
    font-size: medium;
  }
  @include mobile {
    font-size: small;
    text-align: center;
  }
  text-align: end;
  margin: 0;
}

.dateFilm {
  color: $dark-color;
  text-align: end;
  font-size: medium;
  margin: 0;
  @include tablette {
    display: inline-block;
  }
  @include mobile {
    text-align: center;
  }
}

.infosFilm {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.globalFilmDIv {
  @include tablette {
    width: 100%;
  }
}

// News

.affichageNewsMobile {
  @include tablette {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.card-title {
  @extend %heading-h2-style;
  color: $logo-color !important;
}

.card-body {
  background-color: $light-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include mobile {
    flex-direction: column;
  }
}

.bootstrapButtonDiv {
  margin: 0.4em;
  display: flex;
  justify-content: center;
}

.newsDiv {
  @extend %component-div-style;

  padding-bottom: 2em;
  align-items: center;
  @include mobile {
    align-items: center;
    padding-bottom: 0;
  }
}

.affichageNewsTablette {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.imageNewsDiv {
  width: 55%;
  height: auto;
  @include mobile {
    display: none;
  }
}

.imageNews {
  object-fit: cover;
  width: 100%;
  height: auto;
  border: solid 3px $text-color;
  border-radius: 10px;
}

.texteNews {
  width: 90%;
  padding-right: 1em;
  padding-left: 1em;
  color: $text-color;
  text-align: left;

  @include mobile {
    display: none;
  }
  @include desktop {
    font-size: x-large;
    line-height: 2em;
  }
  @include tablette {
    font-size: large;
    line-height: 1.7em;
  }
}

.infosNewsDiv {
  display: flex;
  flex-direction: column;
  line-height: 0.8em;
}

.imageNewsDiv h3 {
  text-align: center;
  font-weight: 700;
  color: $logo-color;
  font-size: xx-large;
  @include mobile {
    font-size: larger;
  }
}

.descriptionNews {
  color: $text-color;
  text-align: center;
  font-size: x-large;
  @include tablette {
    font-size: larger;
  }
}

.boutonDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.5em;
  margin-right: 3.5em;
  @include mobile {
    display: none;
  }
}

.boutonDiv h4 {
  font-family: $font-titleh2;
  font-weight: 700;
  color: $logo-color;
}

.boutonReservation {
  width: 15em;
  border: solid 2px $lightorange-color;
  border-radius: 10px;
  background-color: $dark-color;
}

.boutonReservation a {
  color: $light-color;
  text-decoration: none;
  font-family: $font-titleh2;
  font-size: x-large;
  @include mobile {
    font-size: medium;
  }
}

.boutonReservation a:hover {
  color: $lightorange-color;
}

strong {
  font-family: $font-titleh2;
}

.lieuEvent {
  width: 70%;
  justify-self: center;
  @include tablette {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}

.descriptionParaph {
  font-weight: 700;
  font-size: larger;
  @include tablette {
    font-size: large;
  }
}

// Calendar

.calendar *:last-child {
  margin-bottom: 0;
}

.grilleCalendrier {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: $light-color;
  grid-gap: 5px;
  padding: 2em;
}

.grilleCalendrier > div {
  background-color: $lightorange-color;
  border: solid 2px $text-color;
  height: 100px;
  position: relative;
}

.chiffreJour {
  position: absolute;
  top: 1px;
  left: 8px;
  font-size: 1.5rem;
  color: $text-color;
  font-family: $font-titleh1;
}

// PastrySVG

.pastryIMG {
  color: $text-color;
  height: 10em;
  width: 8em;
}

.pastryIMG:hover {
  color: $darkorange-color;
  cursor: pointer;
}

.flexSVG {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Gestion utilisateurs composant

.inputRadioNews {
  padding-right: 1em;
  margin-right: 1em;
  accent-color: $logo-color;
}

.labelRadioNews {
  padding-left: 1em;
  padding-right: 2em;
}

.highlightUploadSection {
  display: flex;
  flex-direction: column;
  border: 2px solid $text-color;
  margin-left: 3em;
  width: 40%;
  padding-bottom: 1em;
  @include mobile {
    width: 80%;
  }
  @include tablette {
    width: 80%;
  }
}

.cakeManagementCompo2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $light-color;
  padding: 1em;
}

.cakeManagementCompo2 h2 {
  color: $text-color;
  font-weight: 700;
}

.cakeManagementCompo2 h3 {
  color: $text-color;
  padding-bottom: 1em;
  padding-top: 1em;
}

.cakeManagementCompo2 button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
  width: 10%;
  margin-top: 2em;
}

.cakeManagementCompo2 button:hover {
  color: $lightorange-color;
}

.highlightImage {
  width: 20%;
  @include mobile {
    width: 50%;
  }
  @include tablette {
    width: 50%;
  }
}

.highlightImageDiv {
  display: flex;
  justify-content: center;
}

.highlightSectionRight h4 {
  text-align: center;
  color: $dark-color;
  font-family: $font-main;
}

.cakeTable button:hover {
  color: $lightorange-color;
}

.highlightSectionRight {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlightSectionRight input {
  margin-top: 2em;
}

.allCakeDiv3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
  }
  @include tablette {
    flex-direction: column;
  }
}

// modale d'authentification

.modal-title {
  color: $text-color;
}

.modal-header {
  background-color: $light-color;
  border-top: solid 2px $dark-color;
  border-left: solid 2px $dark-color;
  border-right: solid 2px $dark-color;
  border-bottom: none !important;
}

.modal-body {
  background-color: $light-color;
  border-left: solid 2px $dark-color;
  border-right: solid 2px $dark-color;
  border-bottom: solid 2px $dark-color;
  border-top: none;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040; /* Doit être en dessous de la modale, qui a un z-index plus élevé */
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ) !important; /* Noir avec 50% de transparence */
}

.adminForm4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adminForm4 input {
  width: 60%;
}

.adminForm4 ::placeholder {
  font-family: $font-main;
  color: $lightorange-color;
}

.adminForm4 label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm4 legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm4 button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.adminForm4 button:hover {
  color: $lightorange-color;
}

.toggle-form-link {
  margin-top: 1em;
}

.toggle-form-link span {
  color: $logo-color;
  font-family: $font-main;
}

.toggle-form-link span:hover {
  cursor: pointer;
  color: $darkorange-color;
  font-weight: 700;
}

.inputRadioRegister {
  display: flex;
  flex-direction: row;
}

.products-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: $font-main;
  color: $text-color;
  padding: 1em;
}

.products-grid-container > div {
  flex: 1 1 15em;
}

.products-grid-container button {
  @extend %button-style;
  margin-right: 2em;
}

.creation {
  margin-bottom: 2em;
  margin-left: 2em;
  color: $text-color;
}

.boutonCreation {
  @extend %button-style;
  margin-left: 2em;
}

.h2Collection {
  @extend %heading-h2-style;
}
// Accordéon - Accueil

.accordion-content {
  padding: 0 18px;
  background-color: $light-color;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.accordion-content.active {
  max-height: 500px;
}

.accordion-content-inner {
  padding: 10px 0;
}

.accordion-button.active {
  background-color: $text-color;
}

// Composition du menu

.collectionDiv {
  border: 2px solid $text-color;
  margin: 0.5em;
  padding: 0.5em;
  width: 30%;
  @include mobile {
    width: 95%;
  }
}

.collectionDiv li {
  font-family: $font-main;
  color: $text-color;
  font-size: small;
}

.collectionGroupDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
  }
}

/* Container de la modale pour les produits */
.modal-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 0rem;
}

/* Style de chaque élément de la grille (un produit) */
.modal-products-grid-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: $light-color;
}

/* Style de la case à cocher */
.modal-products-grid-item input[type="checkbox"] {
  height: 0.75rem;
  width: 0.75rem;
  cursor: pointer;
  color: $text-color;
}

/* Style du label (nom du produit) */
.modal-products-grid-item label {
  margin-left: 0.5rem;
  font-size: x-small;
  color: $text-color;
}

.boutonCollection {
  @extend %button-style;
}

.boutonCollection:hover {
  color: $darkorange-color;
}

// page boutique bande 1

.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin: 2em;
  justify-items: center;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.menuCase {
  display: flex;
  justify-content: center;
  border: 2px solid $lightorange-color;
  border-radius: 15px;
  background-color: $text-color;
  width: 80%;
  height: 60px;
  color: $light-color;
  font-family: $font-titleh2;
  font-size: x-large;
  line-height: 2.3em;
  @include mobile {
    font-size: larger;
  }
}

.menuCase:hover {
  cursor: pointer;
}

.introMenu {
  text-align: center;
  font-family: $font-main;
  color: $text-color;
  font-style: italic;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modaleMenu {
  background-color: $light-color !important;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
}

.menuCase:last-child {
  display: flex;
  justify-content: center;
  border: 2px solid $text-color;
  border-radius: 15px;
  background-color: $logo-color;
  width: 80%;
  height: 60px;
  color: $lightorange-color;
  font-family: $font-titleh2;
  font-size: xx-large;
  font-weight: 700;
  line-height: 1.7em;
  @include mobile {
    font-size: x-large;
  }
}

.menuModale {
  list-style-type: none;
}

.menuModale li {
  color: $text-color;
  font-family: $font-main;
  border-bottom: dotted 1px $text-color;
  line-height: 30px;
  margin-right: 2em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: $logo-color;
  background-color: $light-color;
}

.itemMenuDiv {
  display: flex;
  justify-content: space-between;
}

.itemDroit {
  font-weight: 700;
}

.titreMenuCollection {
  text-transform: uppercase;
  border-top: solid 1px $text-color;
  border-bottom: solid 1px;
  color: $text-color;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.ingredientsText {
  font-size: smaller;
  font-style: italic;
  margin-bottom: 2px;
  line-height: 1em;
}

.fullCakeList {
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
  list-style: none;
}

.fullCakeList li {
  border: solid 2px $text-color;
  margin-bottom: 1em;
  padding: 0.5em;
}

.itemDetails .value {
  font-weight: 700;
  margin-left: 0.2em;
}

.itemDetails .value img {
  margin-bottom: 0.5em;
}

// resaCameo

.ResaCameoDiv h3 {
  color: $dark-color;
}

.ResaCameoDiv p {
  font-family: $font-main;
  color: $text-color;
  font-size: larger;
  text-align: center;
  @include mobile {
    font-size: large;
  }
}

// Commande de gateaux

.listeGateauxEntiers {
  column-count: 3;
  column-gap: 20px;
  list-style-type: none;
  text-align: center;
  @include mobile {
    column-count: 1;
  }
}

.listeGateauxEntiers li {
  padding: 8px;
}

.listeGateauxEntiers li:hover {
  cursor: pointer;
}

.listeGateauxEntiers li button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
  border: solid 2px $darkorange-color;
  text-transform: uppercase;
}

.FormCommande {
  margin: 2em;
  color: $text-color;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    margin: 0.5em;
  }
}

.FormCommande label,
.FormCommande input[type="text"],
.FormCommande input[type="email"],
.FormCommande textarea {
  width: 25em;
  @include tablette {
    width: 21em;
  }
  @include mobile {
    width: 18em;
  }
}

// Goodies

.sousDivGoodies {
  display: flex;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
  }
}

.divArtisteGoodies {
  display: flex;
  flex-direction: column;
  width: 48%;
  @include mobile {
    width: 90%;
  }
}

.DivIllusArtiste {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  @include mobile {
    flex-direction: column;
  }
}

.imgArtiste {
  height: 250px;
  width: auto;
  border: solid 2px $text-color;
  border-radius: 5px;
  @include tablette {
    height: 150px;
  }
  @include mobile {
    height: auto;
    width: 80%;
  }
}
