// Home

.page {
  margin-bottom: 0;
  @extend %component-style;
}

.home *:last-child {
  margin-bottom: 0;
}

// home-bande 1

.bande1 {
  @extend %bande-style;
}

.bande1 h1 {
  @extend %heading-h1-style;
}

// home-bande 2

.bande2 {
  border: solid 5px $text-color;
  border-radius: 25px;
  padding-left: 2em;
  @extend %bande-style;
  @include mobile {
    padding: 0.8em;
  }
}

.bande2:hover {
  border: solid 7px $darkorange-color;
}

.bande2 h2 {
  color: $text-color;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3em;
  @include mobile {
    font-size: 2em;
  }
}

.bande2 h2:hover {
  color: $darkorange-color;
  cursor: default;
}

// home-bande 3

.bande3Mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
}

.bande3Mobile h2 {
  font-weight: 700;
  color: $text-color;
  text-align: center;
}

.bande3 {
  background-color: $light-color;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  @extend %bande-style;
  @include mobile {
    display: none;
  }
}

.bande3 h2 {
  font-weight: 700;
  color: $text-color;
  text-align: center;
}

.bande3 h3 {
  color: $text-color;
  letter-spacing: 0.1em;
  text-align: start;
  @include tablette {
    font-size: x-large;
  }
  @include mobile {
    font-size: larger;
  }
}

.cadreDef1 {
  border: solid 3px $text-color;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-self: center;
  background-color: #fff2ee;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  @include desktop {
    flex-direction: row;
    font-size: x-large;
  }
  @include tablette {
    font-size: large;
  }
}

.sousTitre {
  opacity: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  color: $darkorange-color;
}

.cadreDef1 p {
  line-height: 1.2em;
  @include desktop {
    line-height: 1.5em;
  }
}

.texteDef {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photoCadre1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 85%;
  @include mobile {
    display: none;
  }
}

.photoDef1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  padding-left: 1em;
  padding-right: 1em;
  @include mobile {
    display: none;
  }
  @include desktop {
    width: 60%;
  }
}

.texteParaph {
  width: 100%;
  padding-right: 1rem;
  @include tablette {
    font-size: medium;
  }
}

.divArticle h3 {
  color: $text-color;
  letter-spacing: 0.1em;
  text-align: center;
}

.imageArticle1 {
  width: 80%;
  height: auto;
  object-fit: contain;
  border: solid 2px $text-color;
  border-radius: 10px;
}

.nomJournal {
  color: $darkorange-color;
  font-family: $font-titleh1;
  font-size: x-large;
}

.imageArticle {
  width: 300px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageArticle a {
  text-decoration: none;
  color: $text-color;
  text-align: center;
  @include desktop {
    font-size: x-large;
  }
  @include tablette {
    font-size: small;
  }
  @include mobile {
    font-size: xx-small;
  }
}

.imageArticle a:hover {
  color: $darkorange-color;
}

// home-bande 4

.bande4 {
  @extend %bande-style;
}

.bande4 h2 {
  font-weight: 700;
  color: $text-color;
  text-align: center;
  padding-top: 1em;
}

.bande4Div {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: center;
  @include tablette {
    flex-direction: column;
    width: 80%;
    justify-self: center;

    align-items: center;
  }

  @include mobile {
    flex-direction: column;
  }
}

.carteGoogle {
  border: solid 2px $text-color;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carteGoogleDiv {
  width: 30%;
  height: 18em;
  display: flex;

  @include tablette {
    width: 80%;
  }
  @include mobile {
    width: 100%;
  }
}

.adresse {
  color: $dark-color;
  font-weight: 700;
  text-decoration: overline, underline;
  font-size: x-large;
  text-align: center;
}

.imageDevanture {
  border: solid 2px $text-color;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.imageDevantureDiv {
  width: 30%;
  height: 18em;
  display: flex;
  justify-content: center;
  align-content: center;
  @include mobile {
    display: none;
  }
  @include tablette {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.adresseDiv {
  align-content: center;
  width: 90%;
  @include mobile {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include tablette {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.nomClient {
  color: $text-color;
  font-size: x-large;
  text-align: center;
}

.starRate {
  display: flex;
  justify-content: center;
}

.avisGoogle {
  color: $dark-color;
  text-align: center;
  font-size: medium;
}

.avis h3 {
  text-align: center;
  color: $text-color;
}

.bi-star-fill {
  color: $logo-color;
}

.avis {
  padding: 1.5em;
  @include mobile {
    display: none;
  }
}

.avisMobileDiv {
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
}

// Programme

.program {
  @extend %component-style;
  margin-bottom: 0;
}

.schedule-list {
  display: flex;
  flex-wrap: wrap;
}

.program ul {
  list-style-type: none;
}

.program h1 {
  color: $logo-color;
}

.schedule-list li {
  color: $text-color;
  border: solid 2px $darkorange-color;
  margin: 2em;
  padding: 1em;
  width: 20%;
  background-color: #fab97b9f;
  @include tablette {
    width: 35%;
  }
  @include mobile {
    width: 80%;
  }
}

.reservButtonProgram {
  @extend %button-style;
}

.item-info h3 {
  text-align: center;
}

// Page Travaux

.pageTravaux {
  width: 100%;
}

.pageConstruction > *:last-child {
  margin-bottom: 0 !important;
}

.pageConstruction {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.texte404 {
  color: white;

  font-size: 5em;
  padding-top: 1.5em;
  padding-left: 1em;
  font-family: $font-titleh1;
  position: absolute;

  @include mobile {
    font-size: 2em;
  }

  @include tablette {
    font-size: 3em;
  }
}

// Admin Login

.adminLogin {
  @extend %component-style;
  @include desktop {
    min-height: 55vh;
  }
}

.adminLogin h1 {
  @extend %heading-h1-style;
}

.adminLogin h2 {
  @extend %heading-h2-style;
}

.adminFormDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.adminForm fieldset {
  @extend %fieldset-style;
}

.adminForm label {
  @extend %label-style;
}

.adminForm legend {
  @extend %legend-style;
}

.adminForm button {
  @extend %button-style;
  &:hover {
    @extend %button-hover;
  }
  @extend %button-active;
}

// Dashboard

.dashboard {
  background-color: $light-color;
}

.dashboard p {
  color: $text-color;
}

.dashboard h3 {
  color: $text-color;
}

.dashboard h2 {
  color: $text-color;
  font-weight: 700;
  padding: 0.2em;
}

.divH2 {
  width: 25%;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 1em;
}

.dashboard h1 {
  color: $text-color;
  font-weight: 700;
  padding-top: 1em;
}

.imageMenuDashboard {
  height: 10em;
  display: flex;
  justify-content: center;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  @include mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.weeklyPastryDiv {
  @extend %grid-div-style;
  grid-row: 1;
  grid-column: 1;
}

.weeklyPastryDiv:hover {
  border: dotted 2px $darkorange-color;
}

.workshopManagementDiv {
  @extend %grid-div-style;
  grid-row: 1;
  grid-column: 2;
}

.workshopManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.eventManagementDiv {
  @extend %grid-div-style;
  grid-row: 1;
  grid-column: 3;
}

.eventManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.userManagementDiv {
  @extend %grid-div-style;
  grid-row: 2;
  grid-column: 1;
}

.userManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.reservationManagementDiv {
  @extend %grid-div-style;
  grid-row: 2;
  grid-column: 2;
}

.reservationManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.cakeManagementDiv {
  @extend %grid-div-style;
  grid-row: 2;
  grid-column: 3;
}

.cakeManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.cakeManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.weeklyPastryDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.workshopManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.eventManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.userManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.reservationManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.adminLink {
  text-decoration: none;
}

// Pages d'administration

.menuManagement {
  background-color: $light-color;
}

.menuManagement h1 {
  padding-top: 0.5em;
  color: $text-color;
}

.menuManagement hr {
  border: 2px solid $text-color;
  opacity: 100;
  color: $dark-color;
  width: 75%;
  display: block;
  justify-self: center;
}

.cakeManagementCompo {
  background-color: $light-color;
  padding: 1em;
}

.cakeManagementCompo h2 {
  color: $text-color;
  font-weight: 700;
}

.cakeManagementCompo h3 {
  color: $text-color;
  padding-bottom: 1em;
  padding-top: 1em;
}

.adminForm2 {
  display: flex;
  justify-content: center;
}

.adminForm2 fieldset {
  border: $dark-color 2px solid;
  padding: 3em;
  width: 60%;
  @include mobile {
    width: 85%;
    padding: 1em;
  }
}

.adminForm2 ::placeholder {
  font-family: $font-main;
  color: $lightorange-color;
}

.adminForm2 label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm2 legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm2 input[type="file"] {
  font-family: $font-main;
}

.adminForm2 button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.adminForm2 button:hover {
  color: $lightorange-color;
}

.adminForm3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.adminForm3 fieldset {
  border: $dark-color 2px solid;
  padding: 3em;
  width: 60%;
}

.allCakeDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  @include tablette {
    display: flex;
    flex-direction: column;
  }
}

.allCakeDiv4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  @include tablette {
    display: flex;
    flex-direction: column;
  }
}

.allCakeDiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
  @include tablette {
    flex-direction: column;
  }
}

.cakeAddDiv {
  width: 40%;
  @include mobile {
    width: 100%;
  }
  @include tablette {
    width: 80%;
  }
}

.cakeTable {
  border: solid $text-color 2px;
  margin: 2em;
  gap: 2px;
  width: 90%;
  @include mobile {
    display: none;
  }
}

.cakeTable img {
  display: block;
  max-width: 100%;
  height: auto;
}

.glaceList {
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
}

.cakeTableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  @include mobile {
    width: 95%;
  }
  @include tablette {
    width: 95%;
  }
}

.cakeTableDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include mobile {
    width: 95%;
  }
  @include tablette {
    width: 95%;
  }
}

.cakeTable th {
  text-align: center;
  font-family: $font-titleh2;
  color: $light-color;
  background-color: $text-color;
  border: $lightorange-color 2px solid;
}

.cakeTable th,
.cakeTable td {
  padding-left: 1em;
  font-family: $font-main;
}

.cakeTable td {
  border: $dark-color 2px solid;
  color: $text-color;
}

.cakeTable button {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.cakeListDiv {
  display: flex;
  flex-direction: column;
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
}

.cakeList li {
  margin-bottom: 0.5em;
}

.cakeDetail {
  margin-bottom: 0.5em;
  color: $text-color;
}

.cakeDetail .value {
  font-weight: 700;
}

.cakeActions button {
  margin-bottom: 0.5em;
  @include tablette {
    margin-right: 0.5em;
  }
}

.visualMediaList {
  @include desktop {
    display: none;
  }
  @include tablette {
    display: none;
  }
}

.mediaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaItem h4 {
  color: $text-color;
  font-family: $font-main;
  text-decoration: underline;
}

.pastryPhoto {
  margin-bottom: 1em;
}

.backButtonDash {
  position: relative;
  top: 5px;
  left: 5px;
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.userManagementCompo {
  background-color: $light-color;
  padding: 1em;
}

.userManagementCompo h2 {
  color: $text-color;
  font-weight: 700;
}

.userManagementCompo h3 {
  color: $text-color;
  padding-bottom: 1em;
  padding-top: 1em;
}

.adminForm3 fieldset {
  border: $dark-color 2px solid;
  padding: 2em;
  width: 70%;
  @include mobile {
    width: 90%;
  }
}

.adminForm3 ::placeholder {
  font-family: $font-main;
  color: $lightorange-color;
}

.adminForm3 label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm3 legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm3 input[type="file"] {
  font-family: $font-main;
}

.adminForm3 button {
  @extend %button-style;
}

.adminForm3 button:hover {
  color: $lightorange-color;
}

.allUserDiv {
  display: flex;
  flex-direction: row;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  @include tablette {
    display: flex;
    flex-direction: column;
  }
}

.userAddDiv {
  width: 35%;
  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  @include tablette {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.userItem {
  margin-bottom: 1em;
}

.userTable {
  display: none;
}

.userTable2 {
  @include tablette {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.userList {
  @include desktop {
    display: none;
  }
}

.userTableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.userCard {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  @include tablette {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.UserCardBody {
  display: flex;
  flex-direction: column;
}

.userTable th {
  text-align: center;
  font-family: $font-titleh2;
  color: $light-color;
  background-color: $text-color;
  border: $lightorange-color 2px solid;
}

.userTable th,
.userTable td {
  padding-left: 1em;
  font-family: $font-main;
}

.userTable td {
  border: $dark-color 2px solid;
  color: $text-color;
}

.userTable button {
  margin-left: 1.5em;
  margin-right: 1.5em;
  @extend %button-style;
}

.itemDetail .value {
  font-weight: 700;
}

.tableRank3 {
  height: 45px;
}

// Page de profil utilisateur

.profile {
  @extend %component-style;
  padding-bottom: 2em;
}

.profile h1 {
  color: $logo-color;
}

.profile h2 {
  color: $text-color;
  margin-bottom: 1em;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @include mobile {
    flex-direction: column;
    padding: 1em;
  }
}

.catInfo {
  font-weight: 700;
  color: $darkorange-color;
}

.userInformationsDiv {
  @include mobile {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.userInformationsDiv button {
  @include mobile {
    width: 60%;
  }
}

.userReservationsDiv h3,
.userReservationsDiv p,
.userReservationsDiv th {
  color: $text-color;
  text-align: center;
}

.reservationDetail .value {
  color: $darkorange-color;
  margin-left: 1em;
}

.reservationItem {
  margin-bottom: 1.5em;
}

.reservationActions button {
  margin-top: 0.8em;
}

// Mentions légales et politique de confidentialité

.sousTitre {
  background-color: rgba(108, 19, 4, 0.25);
}

.sousTitre h1 {
  color: $logo-color;
  @include mobile {
    font-size: large;
  }
}

.sousTitre h2 {
  color: $dark-color;
  font-weight: 700;
}

.paraMentions {
  width: 60%;
  text-align: center;
  @include desktop {
    font-size: x-large;
  }
}

.paraDiv {
  display: flex;
  justify-content: center;
}

.paraMentions a {
  color: $logo-color;
}

.politicSpan {
  font-weight: 700;
}

.politicDiv {
  width: 65%;
  display: flex;
  justify-self: center;
  @include mobile {
    width: 90%;
  }
}

.politicDiv ol li {
  font-size: smaller;
}

// Les partenaires

.partnerH1 {
  @extend %heading-h1-style;
}

.partnerDiv1 {
  background-color: $text-color;
  color: $light-color;
}

.partnerDiv2 {
  color: $text-color;
}

.partnerDiv1 h2,
.partnerDiv2 h2 {
  font-weight: 700;
}

.partnerDiv1 h2 {
  text-align: left;
  padding-left: 2em;
  padding-top: 1em;
}

.partnerDiv2 h2 {
  text-align: right;
  padding-right: 2em;
  padding-top: 1em;
}

.fourniDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 1em;
  margin-right: 1em;
  @include tablette {
    flex-wrap: wrap;
  }
  @include mobile {
    flex-direction: column;
  }
}

.teaDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-left: 2em;
  padding-right: 2em;
  @include tablette {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.VacheDiv {
  @include tablette {
    display: flex;
    flex-direction: row;
  }
}

.teaDiv2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 33%;
  padding-left: 2em;
  padding-right: 2em;
  @include tablette {
    align-items: start;
    width: 45%;
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  @include mobile {
    width: 100%;
  }
}

.tImageDiv {
  display: flex;
  justify-content: start;
  margin-bottom: 2em;
}

.tImageDiv2 {
  display: flex;
  justify-content: end;
  margin-bottom: 2em;
}

.tImageDiv3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-left: 2em;
}

.tImage {
  width: 15em;
}

.fourniParaph {
  font-size: larger;
}

.fourniParaph2 {
  font-size: larger;
  text-align: end;
  @include mobile {
  }
}

.partnerLink {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.assoDiv {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-items: center;
  @include mobile {
    flex-direction: column;
    margin-left: 2em;
  }
}

// Boutique

.shopTitle2 {
  @extend %heading-h2-style;
}

.shopTitle {
  @extend %heading-h1-style;
}

.gridServices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 2em;
  margin-top: 0.5em;
  padding: 1em;
  gap: 2em;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0.5em;
  }
}

.gridCaseCameo {
  border: 2px solid $text-color;
  border-radius: 5px;
  padding: 1em;
}

.gridCaseCameo2 {
  border: 2px solid $text-color;
  border-radius: 5px;
  padding: 1em;
  margin: 2.5em;
  margin-top: 0.5em;
  width: 50%;
  justify-self: center;
  @include mobile {
    width: 80%;
  }
}
