// Home

.home {
  margin-bottom: 0;
  background-color: $light-color;
}

.home *:last-child {
  margin-bottom: 0;
}

// home-bande 1

.bande1 {
  background-color: $light-color;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
}

.bande1 h1 {
  color: $text-color;
  padding: 0.5em;
  letter-spacing: 0.1em;
  font-size: 4em;
  @include tablette {
    font-size: 3.2em;
  }
  @include mobile {
    font-size: 2.5em;
  }
}

// home-bande 2

.bande2 {
  background-color: $light-color;
  border: solid 10px $text-color;
  border-radius: 25px;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  @include mobile {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
  }
}

.bande2:hover {
  border: solid 10px $darkorange-color;
}

.bande2 h2 {
  color: $text-color;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 3em;
}

.bande2 h2:hover {
  color: $darkorange-color;
  cursor: default;
}

// home-bande 3

.bande3 {
  background-color: $light-color;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bande3 h2 {
  font-weight: 700;
  color: $text-color;
  text-align: center;
}

.bande3 h3 {
  color: $text-color;
  letter-spacing: 0.1em;
  text-align: start;
  @include tablette {
    font-size: x-large;
  }
  @include mobile {
    font-size: larger;
  }
}

.cadreDef1 {
  border: solid 3px $text-color;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-self: center;
  background-color: #fff2ee;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  @include desktop {
    flex-direction: row;
    font-size: x-large;
  }
  @include tablette {
    font-size: large;
  }
}

.sousTitre {
  opacity: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  color: $darkorange-color;
}

.cadreDef1 p {
  line-height: 1.2em;
  @include desktop {
    line-height: 1.5em;
  }
}

.texteDef {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photoCadre1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 85%;
  @include mobile {
    display: none;
  }
}

.photoDef1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  padding-left: 1em;
  padding-right: 1em;
  @include mobile {
    display: none;
  }
  @include desktop {
    width: 60%;
  }
}

.texteParaph {
  width: 100%;
  padding-right: 1rem;
  @include tablette {
    font-size: medium;
  }
}

.divArticle h3 {
  color: $text-color;
  letter-spacing: 0.1em;
  text-align: center;
}

.imageArticle1 {
  width: 80%;
  height: auto;
  object-fit: contain;
  border: solid 2px $text-color;
  border-radius: 10px;
}

.nomJournal {
  color: $darkorange-color;
  font-family: $font-titleh1;
  font-size: x-large;
}

.imageArticle {
  width: 300px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageArticle a {
  text-decoration: none;
  color: $text-color;
  text-align: center;
  @include desktop {
    font-size: x-large;
  }
  @include tablette {
    font-size: small;
  }
  @include mobile {
    font-size: xx-small;
  }
}

.imageArticle a:hover {
  color: $darkorange-color;
}

// home-bande 4

.bande4 {
  background-color: $light-color;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
  @include mobile {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
  }
}

.bande4 h2 {
  font-weight: 700;
  color: $text-color;
  text-align: center;
  padding-top: 1em;
}

.bande4Div {
  display: flex;
  flex-direction: row;
  padding: 2em;
  justify-content: center;
  @include tablette {
    flex-direction: column;
    width: 80%;
    justify-self: center;

    align-items: center;
  }

  @include mobile {
    flex-direction: column;
  }
}

.carteGoogle {
  border: solid 2px $text-color;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carteGoogleDiv {
  width: 30%;
  height: 18em;
  display: flex;

  @include tablette {
    width: 80%;
  }
  @include mobile {
    width: 100%;
  }
}

.adresse {
  color: $dark-color;
  font-weight: 700;
  text-decoration: overline, underline;
  font-size: x-large;
  text-align: center;
}

.imageDevanture {
  border: solid 2px $text-color;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.imageDevantureDiv {
  width: 30%;
  height: 18em;
  display: flex;
  justify-content: center;
  align-content: center;
  @include mobile {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include tablette {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.adresseDiv {
  align-content: center;
  width: 30%;
  @include mobile {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include tablette {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.nomClient {
  color: $text-color;
  font-size: x-large;
  text-align: center;
}

.starRate {
  display: flex;
  justify-content: center;
}

.avisGoogle {
  color: $dark-color;
  text-align: center;
  font-size: medium;
  @include mobile {
    font-size: x-small;
  }
}

.avis h3 {
  text-align: center;
  color: $text-color;
}

.bi-star-fill {
  color: $logo-color;
}

.avis {
  padding: 1.5em;
}

// Programme

.program {
  background-color: $light-color;
}

// Page Travaux

.pageTravaux {
  width: 100%;
}

.pageConstruction > *:last-child {
  margin-bottom: 0 !important;
}

.pageConstruction {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.texte404 {
  color: white;

  font-size: 5em;
  padding-top: 1.5em;
  padding-left: 1em;
  font-family: $font-titleh1;
  position: absolute;

  @include mobile {
    font-size: 2em;
  }

  @include tablette {
    font-size: 3em;
  }
}

// Admin Login

.adminLogin {
  background-color: $light-color;
  height: 55vh;
}

.adminLogin h1 {
  color: $text-color;
  font-weight: 700;
  padding-top: 1em;
}

.adminLogin h2 {
  color: $text-color;
  font-weight: 700;
  padding: 0.2em;
}

.adminFormDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.adminForm fieldset {
  border: $dark-color 2px solid;
  padding: 0.5em;
}

.adminForm label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.adminForm button:hover {
  color: $lightorange-color;
}

// Dashboard

.dashboard {
  background-color: $light-color;
}

.dashboard p {
  color: $text-color;
}

.dashboard h3 {
  color: $text-color;
}

.dashboard h2 {
  color: $text-color;
  font-weight: 700;
  padding: 0.2em;
}

.divH2 {
  width: 25%;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 1em;
}

.dashboard h1 {
  color: $text-color;
  font-weight: 700;
  padding-top: 1em;
}

.imageMenuDashboard {
  height: 10em;
  display: flex;
  justify-content: center;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.weeklyPastryDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 1;
  grid-column: 1;
}

.weeklyPastryDiv:hover {
  border: dotted 2px $darkorange-color;
}

.workshopManagementDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 1;
  grid-column: 2;
}

.workshopManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.eventManagementDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 1;
  grid-column: 3;
}

.eventManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.userManagementDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 2;
  grid-column: 1;
}

.userManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.reservationManagementDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 2;
  grid-column: 2;
}

.reservationManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.cakeManagementDiv {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  border: dotted 1px $text-color;
  grid-row: 2;
  grid-column: 3;
}

.cakeManagementDiv:hover {
  border: dotted 2px $darkorange-color;
}

.cakeManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.weeklyPastryDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.workshopManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.eventManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.userManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.reservationManagementDiv h3:hover {
  color: $darkorange-color;
  font-weight: 700;
  cursor: pointer;
}

.adminLink {
  text-decoration: none;
}

// Pages d'administration

.menuManagement {
  background-color: $light-color;
}

.menuManagement h1 {
  padding-top: 0.5em;
  color: $text-color;
}

.menuManagement hr {
  border: 2px solid $text-color;
  opacity: 100;
  color: $dark-color;
  width: 75%;
  display: block;
  justify-self: center;
}

.cakeManagementCompo {
  background-color: $light-color;
  padding: 1em;
}

.cakeManagementCompo h2 {
  color: $text-color;
  font-weight: 700;
}

.cakeManagementCompo h3 {
  color: $text-color;
  padding-bottom: 1em;
  padding-top: 1em;
}

.adminForm2 {
  display: flex;
  justify-content: center;
}

.adminForm2 fieldset {
  border: $dark-color 2px solid;
  padding: 3em;
  width: 60%;
}

.adminForm2 ::placeholder {
  font-family: $font-main;
  color: $lightorange-color;
}

.adminForm2 label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm2 legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm2 input[type="file"] {
  font-family: $font-main;
}

.adminForm2 button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.adminForm2 button:hover {
  color: $lightorange-color;
}

.allCakeDiv {
  display: flex;
  flex-direction: row;
}

.allCakeDiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cakeAddDiv {
  width: 40%;
}

.cakeTable {
  border: solid $text-color 2px;
  margin: 2em;
  gap: 2px;
  width: 90%;
}

.cakeTable img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cakeTableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.cakeTable th {
  text-align: center;
  font-family: $font-titleh2;
  color: $light-color;
  background-color: $text-color;
  border: $lightorange-color 2px solid;
}

.cakeTable th,
.cakeTable td {
  padding-left: 1em;
  font-family: $font-main;
}

.cakeTable td {
  border: $dark-color 2px solid;
  color: $text-color;
}

.cakeTable button {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.backButtonDash {
  position: relative;
  top: 5px;
  left: 5px;
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.userManagementCompo {
  background-color: $light-color;
  padding: 1em;
}

.userManagementCompo h2 {
  color: $text-color;
  font-weight: 700;
}

.userManagementCompo h3 {
  color: $text-color;
  padding-bottom: 1em;
  padding-top: 1em;
}

.adminForm3 {
  display: flex;
  justify-content: center;
}

.adminForm3 fieldset {
  border: $dark-color 2px solid;
  padding: 2em;
  width: 70%;
}

.adminForm3 ::placeholder {
  font-family: $font-main;
  color: $lightorange-color;
}

.adminForm3 label {
  font-family: $font-main;
  color: $text-color;
}

.adminForm3 legend {
  font-family: $font-titleh2;
  color: $text-color;
  text-align: center;
}

.adminForm3 input[type="file"] {
  font-family: $font-main;
}

.adminForm3 button {
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.adminForm3 button:hover {
  color: $lightorange-color;
}

.allUserDiv {
  display: flex;
  flex-direction: row;
}

.userAddDiv {
  width: 35%;
}

.cakeTable {
  border: solid $text-color 2px;
  margin: 2em;
  gap: 2px;
  width: 90%;
}

.userTableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.userTable th {
  text-align: center;
  font-family: $font-titleh2;
  color: $light-color;
  background-color: $text-color;
  border: $lightorange-color 2px solid;
}

.userTable th,
.userTable td {
  padding-left: 1em;
  font-family: $font-main;
}

.userTable td {
  border: $dark-color 2px solid;
  color: $text-color;
}

.userTable button {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: $font-titleh2;
  border: $dark-color solid 2px;
  color: $light-color;
  background-color: $text-color;
}

.tableRank3 {
  height: 45px;
}
