$text-color: #6c1304;
$logo-color: #b21a00;
$dark-color: #582108;
$light-color: #ffdfb7;

$lightorange-color: #e68d46;
$darkorange-color: #dd7300;

$font-main: "CrimsonText", sans-serif;
$font-titleh1: "RaggMopp", sans-serif;
$font-titleh2: "GlassAntiqua", sans-serif;
