@font-face {
  font-family: "RaggMopp";
  src: url("../fonts/RaggMoppRegular.woff") format("truetype");
}

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CrimsonText";
  font-weight: 700;
  src: url("../fonts/CrimsonText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GlassAntiqua";
  src: url("../fonts/GlassAntiqua.ttf") format("truetype");
}

@font-face {
  font-family: "CrimsonText";
  font-style: italic;
  src: url("../fonts/CrimsonText-Italic.ttf") format("truetype");
}

@import "./variables";
@import "./mixins";
@import "./global";
@import "./components";
@import "./pages";
